<div class="container">
        <div class="row">
            <div class="col l2"></div>
            <div class="col s12 l8">
                <form ng-model="data" name="mail" ng-submit="sendMail()">
                    <input type="text" placeholder="First Name" ng-model="data.firstname">
                    <input type="text" placeholder="Last Name" ng-model="data.lastname">
                    <input type="text" placeholder="Company" ng-model="data.company">
                    <input type="email" placeholder="Email" ng-model="data.email">
                    <input type="text" placeholder="Message" ng-model="data.message">
                    <input type="submit" value="" hidden>
                </form>
            </div>
            <div class="col l2"></div>
        </div>
    </div>
</div>