<div class="container">
        <div class="row">
                <form ng-init="getData('')" novalidate ng-model="data" ng-cloak>
                    <div class="header input-field">
                        <label ng-if="data.title===''" for="title">Title</label>
                        <input ng-model="data.title" ng-hide="skillEdit" class="center" type="text" id="title" value="{{data.title}}">
                    </div>
                    <div class="card grey darken-4">
                        <div class="card-content white-text">
                            <div class="input-field" ng-show="expEdit || eduEdit" >
                                <label ng-if="data.location===''" for="location">Institute, Location (City, State)</label>
                                <input type="text" id="location" ng-model="data.location" value={{data.location}}>
                            </div>
                            <div ng-show="expEdit || eduEdit" class="input-field">
                                <label ng-if="data.date===''" for="date">Start - End (Month Year)</label>
                                <input type="text" id="start_end_date" ng-model="data.date" value={{data.date}}>
                            </div>
                            <div ng-show="projectEdit" class="input-field">
                                <label ng-if="data.link===''" for="link">URL (https://www.example.com)</label>
                                <input type="url" id="link" ng-model="data.link" value={{data.link}}>
                            </div>
                            <div ng-show="projectEdit" class="input-field">
                                <label ng-if="data.technology===''" for="technology">Technology</label>
                                <input type="text" id="technology" ng-model="data.technology" value={{data.technology}}>
                            </div>
                            <div class="input-field">
                                <label ng-if="data.details===''"for="details">Details</label>
                                <textarea ng-hide="skillEdit" id="details" class="materialize-textarea" ng-model="data.details">{{data.details}}</textarea>
                            </div>
                            <div class="card-action">
                                <div class="center">
                                    <button type="submit" class="btn-large waves-effect waves-light green" ng-click="saveData()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    