<div class="container">
    <div class="row">
        <div class="col s12 l3"></div>
        <div class="col s12 l2">
            <a ng-href="https://www.linkedin.com/in/kaushal-patel-119a20113/" target="_blank">
                <i class='fab fa-linkedin' style='font-size:100px;color:grey;'></i>
            </a>
        </div>
        <div class="col s12 l2">
            <a ng-href="/contact">
                <i class='fa fa-envelope' style='font-size:100px;color:grey;'></i>
            </a>    
        </div>
        <div class="col s12 l2">
            <a ng-href="https://github.com/kunknown?tab=repositories" target="_blank">
                <i class='fab fa-github-square' style='font-size:100px;color:grey;'></i>
            </a>
        </div>
        <div class="col s12 l3"></div>
    </div>
</div>
