<div class="row" ng-init="getAdmin()">
    <div class="col s12 l4"></div>
    <div class="card col s12 l4 grey darken-4">
        <form name="login" ng-submit="logIn()" class="white-text">
            <div class="input-field">
                <label for="username">Username</label>
                <input type="text" id="username" ng-model="data.username">
            </div>
            <div class="input-field">
                <label for="password">Password</label>
                <input type="password" id="password" ng-model="data.password">
            </div>
            <div class="card-action">
                <input type="submit" value="" hidden>
                <div class="btn-floating btn-large waves-effect waves-light green" ng-click="logIn()">
                    <i class="material-icons">input</i>
                </div>
            </div>
        </form>
    </div>
    <div class="col s12 l4"></div>
</div>