<div ng-init="setNavbar()">
    <nav class="nav-extended grey darken-1">
        <div class="nav-wrapper">
            <a ng-href="/home" class="brand-logo" ng-click="setNavbar()">Kaushal Patel</a>
            <a class="sidenav-trigger" data-target="mobile-demo">
                <i class="material-icons">menu</i>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down" ng-click="setNavbar()">
                <li class="main"><a ng-href="/home">Home</a></li>
                <li class="main"><a ng-href="/resume/experience">Resume</a></li>
                <li class="main"><a ng-href="/projects">Projects</a></li>
                <li class="main"><a ng-href="/contact">Contact</a></li>
                <li ng-hide="admin" class="main"><a ng-href="/login">Edit Mode</a></li>
                <li ng-show="admin" class="main">
                    <div class="btn-small waves-effect waves-light red" ng-click="logOut()">Read Only Mode                  </div>
                </li>
            </ul>
        </div>
        <div class="nav-content grey darken-1 right" ng-click="setNavbar()">
            <ul id="tabs_resume" class="tabs tabs-transparent">
                <li class="tab main" ><a ng-href="/resume/experience">EXPERIENCE</a></li>
                <li class="tab main" ><a ng-href="/resume/skills">SKILLS</a></li>
                <li class="tab main" ><a ng-href="/resume/education">EDUCATION</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo" ng-click="setNavbar()">
        <li><a ng-href="/home">Home</a></li>
        <li><a>RESUME</a>
            <ul>
                <li><a ng-href="/resume/experience">Experience</a></li>
                <li><a ng-href="/resume/skills">Skills</a></li>
                <li><a ng-href="/resume/education">Education</a></li>
            </ul>
        </li>
        <li><a ng-href="/projects">Projects</a></li>
        <li><a ng-href="/contact">Contact</a></li>
        <li ng-hide="admin"><a ng-href="/login">Edit Mode</a></li>
        <li ng-show="admin">
            <div class="btn-small waves-effect waves-light red" ng-click="logOut()">Read Only Mode</div>
        </li>
    </ul>
</div>