body{
    background-color: #eeeeee;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main{
    margin-top: 100px;
}

input{
    color: inherit;
}

div.header input {
    font-weight: bold;
}

textarea{
    min-height: 3em;
    color: inherit;
}

div.skills:hover {
    text-decoration: line-through; 
}

main {
    flex: 1 0 auto;
}